@import "app";

.personal-body {
  margin-top: 50rpx; // 上外边距

  .van-cell {
    background-color: $bg-gray; // 背景色

    .van-cell__title {
      color: $white; // 字体颜色
      letter-spacing: 5rpx; // 字间距
    }

    .van-cell__value {
      color: $yellow; // 字体颜色
    }
  }
}